<div class="container">
  <h1>Admin</h1>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="URL" aria-label="PDF URL" aria-describedby="basic-addon2" id="newDocurl">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="addDocButton">Add</button>
      </div>
    </div>

  <div class="row mt-3 mb-3">
    <div class="card col-3 pt-3 pb-3">

      <div class="doclist" style='height:400px'>
        <ul class="nav nav-tabs flex-sm-column" id="nav-tab" role="tablist" aria-orientation="vertical">
          {{#each document}}
          <li class="nav-item">
            <a class="nav-link" id="v-nav-{{id}}-tab" data-toggle="tab" href="#v-nav-{{id}}" role="tab" aria-controls="v-pills-{{id}}" aria-selected="false">{{id}}</a><br>
          </li>
          {{/each}}
        </ul>
      </div>

    </div>
      <div class="card col">
          <div class="tab-content" id="v-nav-tabContent">
            {{#each document}}
              <div class="tab-pane fade" id="v-nav-{{id}}" role="tabpanel" aria-labelledby="v-nav-{{id}}-tab">
                <div id="title-{{id}}"><h2>{{title}}</h2></div>
                <div class="row mt-3">
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">By</span>
                      </div>
                      <input type="text" class="form-control" id="by-{{id}}" value="{{by}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="language">Language</span>
                      </div>
                      <input type="text" class="form-control" id="language-{{id}}" value="{{language}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="pdfurl">PDFurl</span>
                      </div>
                      <input type="text" class="form-control" id="pdfurl-{{id}}" value="{{pdfurl}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="htmlurl">HTMLurl</span>
                      </div>
                      <input type="text" class="form-control" id="htmlurl-{{id}}" value="{{htmlurl}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="usage">Usage</span>
                      </div>
                      <input type="text" class="form-control" id="usage-{{id}}" value="{{usage}}">
                    </div>
                  </div>
                  <div class="col">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="pubdate">Date</span>
                      </div>
                      <input type="text" class="form-control" id="pubdate-{{id}}" value="{{pubdate}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="topics">Topics</span>
                      </div>
                      <input type="text" class="form-control" id="topics-{{id}}" value="{{topics}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="collection">Collection</span>
                      </div>
                      <input type="text" class="form-control" id="collection-{{id}}" value="{{collection}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="location">Location</span>
                      </div>
                      <input type="text" class="form-control" id="location-{{id}}" value="{{location}}">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="description">Description</span>
                      </div>
                      <input type="text" class="form-control" id="description-{{id}}" value="{{description}}">
                    </div>
                  </div>
                </div>
                <div>{{pages}} Pages</div><div id="check_{{id}}"></div>
                  <div class="mt-5">
                    <button class="updateDoc btn btn-primary" id="{{id}}">Update</button>
                    <button class="downloadButton btn btn-sm" id="{{id}}">Download</button>
                    <button class="infoButton btn btn-sm" id="{{id}}">Get Document Info</button>
                    <button class="processButton btn btn-sm" id="{{id}}">Process Pages</button>
                    <button class="indexButton btn btn-sm" id="{{id}}">Index Pages</button>
                    <button class="checkButton btn btn-sm" id="{{id}}">Check</button>
                    <button class="deleteButton btn btn-sm btn-danger" id="{{id}}">Remove</button>
                </div>
              </div>
            {{/each}}
          </div>
      </div>
      
  </div>

  <button class="btn" id="importCSV">Import from file</button> <button class="btn" id="exportCSV">Export to file</button>
  <button class="btn" id="deleteIndex">Delete Index</button>
  <button class="btn" id="reIndex">ReIndex</button>
  <!--
  <div class="panel panel-default" style="bottom:10px; overflow:scroll; height:200px; width:80%" id="console">
    <div class="panel-body"></div>
  </div>
  -->
  <div class="">
    <div class="mt-3 mb-3">
      <button class="btn" id="run">Run</button>
      <button class="btn" id="stop">Stop</button>
    </div>
    <div class="">
      <button class="btn" id="processAll">Process All</button>
      <button class="btn" id="deleteProcesses">Delete All</button>
      <button class="btn" id="refresh">Refresh</button>
    </div>
    <div class="">
      <div class="mt-3 mb-3" id="cpu"></div>
      <div class="mt-3 mb-3" id="stats"></div>
      <div class="mt-3 mb-3 card" id="currentprocess" style="font-size:.6em"></div>
      <div style="font-size:.6em">
        <ul id="process"></ul>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<script src="js/edit.js"></script>
